/* ========== SHORTCUTS ========== */

:root {
  --white: #ffffff;
  --grey-text-normal: #757575;
  --bg-body: #e5e5e5;
  --black-title: #212121;
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --black: #000;
  --blue: #2196f3;
  --border-header: #ececec;
  --border-figure: #eeeeee;
  --bg-grey: #f5f4fa;
  --bg-modal: rgba(0 0 0 / 0.1);
  --border-btn: #afb1b8;
  --border-input: rgba(33 33 33 / 0.2);
  --bg-grey-dark: #2f303a;
  --shadows-2: rgba(255, 255, 255, 0.1);
  --shadows-1: rgba(255, 255, 255, 0.6);
  --shadows-3: rgba(33 150 243 / 0.9);
}

/* ========== GLOBAL_CSS ========== */

body {
  font-family: "Roboto";
  color: var(--grey-text-normal);
  background-color: var(--white);
  margin: auto;
  padding: 0;
}

:hover,
:focus {
  transition: var(--transition-duration) var(--cubic-bezier);
}
.contact-header {
  fill: var(--grey-text-normal);
}
.contact-header__icon:hover,
a:focus,
a:hover {
  fill: var(--blue);
  color: var(--blue);
}
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black-title);
  padding-bottom: 30px;
}

h4 {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
h5 {
  color: var(--black-title);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: -8px;
}
ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
}
h1,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
}
h3 {
  color: var(--white);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  align-items: center;
}
.focus-page::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}
.focus-page {
  position: relative;
  text-decoration: none;
  color: var(--blue);
  fill: var(--blue);
}
/* ========= HEADER ========= */

.logo-web {
  color: var(--blue);
}
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header {
  border-bottom: 1px solid var(--border-header);
}
.contact-header__item,
.contact-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 46px;
}
.pages-navigation__item,
.contact-header__item,
.portfolio-list {
  text-decoration: none;
}
.contact-header__item,
.contact-header__icon {
  display: flex;
}
.pages-navigation__item {
  justify-content: space-between;
  align-items: center;
  color: var(--black-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.contact-header {
  margin-left: auto;
  justify-content: flex-end;
  gap: 30px;
}
.logo--header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-title);
  text-decoration: none;
  margin-right: 93px;
  text-align: left;
}
.contact-header__item {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-text-normal);
  text-align: left;
}
.contact-header__icon {
  margin-right: 10px;
}

/* ========== MAIN ========= */

/* ========== BANER ========= */

.btn-order:hover,
.btn-window:hover,
.btn-newsletter:hover {
  color: var(--black);
}
.btn-order:focus,
.btn-window:focus,
.btn-newsletter:focus {
  color: var(--black);
}
.section-baner {
  background-image: linear-gradient(#2f303a40, #2f303a40),
    url(../images/background-baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  align-items: center;
}
.baner-text {
  letter-spacing: 0.06em;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
.box-baner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 225px;
  margin-right: 225px;
  margin-top: 106px;
  margin-bottom: 106px;
}
.btn-baner {
  padding-top: 40px;
}
.btn-order {
  width: 200px;
  height: 50px;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border: 0;
  border-radius: 4px;
}
/* ========== FORM_ORDER ========= */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal);
  transition: transform var(--transition-duration);
  z-index: 10;
}
.is-hidden {
  transform: scale(0);
}
.modal {
  padding: 40px;
  margin: auto;
  width: 528px;
  height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  position: relative;
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--bg-modal);
  background-color: var(--white);
  cursor: pointer;
}
.modal__close-icon {
  margin: auto;
  width: 18px;
  height: 18px;
}
.moda__header {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-forms {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-forms__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  font-size: 12px;
  color: var(--grey-text-normal);
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-forms__input-container {
  position: relative;
  width: 100%;
}

.modal-forms__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  outline: transparent;
}
.modal-input:focus-within {
  border-color: var(--blue);
}
.modal-textarea:focus-within {
  border-color: var(--blue);
}
.input-container:focus-within .modal-forms__label {
  fill: var(--blue);
}
.modal-textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border var(--transition-duration) var(--cubic-bezier);
  will-change: border;
}

.modal-textarea::placeholder {
  opacity: 0.5;
  color: var(--grey-text-normal);
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-forms__label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 28px;
  left: 12px;
  fill: var(--black-title);
  transition: fill var(--transition-duration) var(--cubic-bezier);
  will-change: fill;
}

.checkbox-text {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--grey-text-normal);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-label {
  position: relative;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox-input:checked + svg {
  visibility: hidden;
}

.checkbox-input ~ svg:nth-of-type(2) {
  visibility: hidden;
}

.checkbox-input:checked ~ svg:nth-of-type(2) {
  visibility: visible;
}

.checkbox-text a,
.checkbox-text:hover a {
  color: var(--blue);
}

.checkbox-svg {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 3px;
  user-select: none;
}

.acept {
  margin-left: 24px;
}

.btn-window {
  display: flex;
  margin: auto;
  padding: 10px 76px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ========== SKILLS_ICONS ========= */

.box-skills-icons {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  padding-bottom: 15px;
}
.skill-icon {
  height: 120px;
  width: 270px;
  text-align: center;
  background-color: var(--bg-grey);
  border-radius: 4px;
  padding-top: 30px;
  fill: #757575;
}

/* ========== SKILLS_CONTENTS ========= */

.box-skills {
  list-style: none;
  display: flex;
  font-size: 14px;
  width: 1170px;
  height: 95px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  justify-content: space-between;
}
.skill {
  width: 270px;
  height: 95px;
  text-align: left;
  line-height: 24px;
}

/*========== WHAT_WE_DO ========= */

.section-spec {
  padding-bottom: 94px;
}
.box-spec {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.img-spec {
  padding: 0;
  position: relative;
}
.title-spec {
  padding: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 3.5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}
/* ========== OUR_TEAM ========= */
.team-cards {
  display: flex;
  justify-content: center;
  line-height: 2.8;
  text-align: center;
}
.card {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
}
.section-team {
  background: var(--bg-grey);
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-social-media {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  padding-top: 10px;
}
.list-socialmedia-links {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--grey-text-normal);
  transition: background-color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  will-change: background-color, fill;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--blue);
  fill: var(--white);
}

/* ========== OUR_CUSTOMERS ========= */

.clients-list {
  display: flex;
  gap: 30px;
}

.client-link {
  display: flex;
  padding: 16px 32px;
  border: 1px solid var(--grey-text-normal);
  border-radius: 4px;
  fill: var(--grey-text-normal);
  transition: border-color var(--transition-duration) var(--cubic-bezier),
    fill var(--transition-duration) var(--cubic-bezier);
  will-change: border-color, fill;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--blue);
  fill: var(--blue);
}

.our-clients {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* ========== Footer ========= */

.section-footer {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--bg-grey-dark);
  justify-content: left;
}
.container-footer {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  align-items: center;
  gap: 70px;
}
.footer-list {
  padding-top: 11px;
}
.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--white);
}
.address-item {
  margin-top: 20px;
}
.footer-address {
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 14px;
  color: var(--white);
}
.mail-footer {
  letter-spacing: 0.03em;
  text-decoration: underline;
  font-style: normal;
  font-size: 14px;
  color: var(--shadows-1);
}
.tel-footer {
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  color: var(--shadows-1);
}
/* ========== FOOTER_SOCIAL ========= -->*/
.footer-socialmedia {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background: var(--shadows-2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  --color3: #2196f3;
}
.social-icon-white {
  width: 20px;
  height: 20px;
}
.social-link:hover {
  background-color: var(--blue);
}
.social-link:focus {
  background-color: var(--blue);
}

.box-social {
  padding-bottom: 45px;
}
.title-follow {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
}

/* ========== FOOTER_NEWSLETTER ========= -->*/

.footer-newsletter {
  padding-bottom: 45px;
}

.footer-form-container {
  display: flex;
  gap: 12px;
}

.footer-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: rgba(0 0 0 / 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--shadows-1);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--shadows-1);
}

.btn-newsletter {
  padding-left: 42px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ========== PORTFOLIO_FILTRS ========= */

.filtr:hover,
.filtr:focus {
  background-color: var(--blue);
  color: var(--bg-grey);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-filtrs {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.filtr {
  height: 38px;
  background: var(--bg-grey);
  font-size: 16px;
  border-radius: 4px;
  border: var(--grey-text-normal);
  font-style: normal;
  line-height: 0.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-title);
  background: var(--bg-grey);
  padding-right: 22px;
  padding-left: 22px;
  margin-right: 8px;
}
.container-product {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.product-figure {
  border-bottom: 1px solid var(--border-figure);
  margin: 0;
  flex-basis: 370px;
  transition: box-shadow var(--transition-duration) var(--cubic-bezier);
  will-change: box-shadow;
}
.text-product {
  line-height: 36px;
  margin-left: 24px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.product-figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*========== ACTIVE_PRODUCT ========= */
.active-product {
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--shadows-3);
  transition: transform var(--transition-duration) var(--cubic-bezier);
  will-change: transform;
}

.product-figure:hover .active-product {
  transform: translateY(-100%);
}
.product-image {
  position: relative;
  overflow: hidden;
}
