.main-baner {
    padding: 200px 0;
    

    background: linear-gradient(
        $shadows-4,
        $shadows-4
      ),
      url(../images/background-baner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    &__title {
      width: 696px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
    &__button {
      
      @extend %button;
      @include button-typeface(700, 1.875, 0.06em);
      margin: auto;
      display: block;
      padding: 10px 42px;
      text-align: center;
      color: $white;
      background-color: $blue;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      &:hover,
      &:focus {
        color: $black-title;
      }
    }
  }

  
