
    $white: #fff;
    $border-card: #eee;
    $grey: #757575;
    $bg-body: #e5e5e5;
    $black-title: #212121;
    $transition-duration: 250ms;
    $cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    $black: #000;
    $blue: #2196f3;
    $border-header: #ececec;
    $border-figure: #eeeeee;
    $bg-grey: #f5f4fa;
    $bg-modal: rgba(0 0 0 / 0.1);
    $border-btn: #afb1b8;
    $border-input: rgba(33 33 33 / 0.2);
    $bg-grey-dark: #2f303a;
    $shadows-2: rgba(255, 255, 255, 0.1);
    $shadows-1: rgba(255, 255, 255, 0.6);
    $shadows-3: rgba(33 150 243 / 0.9);
    $shadows-4: rgba(47 48 58 / 0.4);
    $shadows-5: rgba(47 48 58 / 0.8);
  $font-family:"Roboto";